* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
/* 容器 */
.container {
    width: 160rem;
    border: 1px solid #54514e;

}
/* 1注册 */
.sign-up-container,
.profile-container {
    height: 99rem;
    text-align: center;
}
.sign-up-container {
    background: url(../image/图层1.png) no-repeat;
}
.sign-up-container .bg ,
.profile-container .bg{
    background-color: rgb(0, 0, 0,0.5);
    width:100%;
    height: 100%;
}
h1 {
    color: #ffffff;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 21rem;
    font-weight: 200;
}
p {
    color:#ffffff;
    font-size:1.7rem;
    width: 77rem;
    letter-spacing: 2px;
}
.content_block {
    width: 60%;
    height: 30rem;
    border: 1px solid #cfcfcf;
}
.content_block h2 {
    color: #ffffff;
    font-size: 2.2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6rem; 
}
p,
.sign-up {
    margin-top: 10rem;
    margin: 4rem auto;
}
.sign-up p {
    margin-top: 2rem;
}
form {
    margin: auto;
    width: 90%;
    margin-top: 4.8rem;
    
}
form input {
    border: 1px solid #cfcfcf;
    color: white;
    margin-left: 1.5rem;
    text-align: left;
    padding-left: 1rem;
}
 form input:nth-child(-n+2)  {
    width: 29rem;
    height: 5rem;
    background-color: transparent;
}
form input:last-child {
    height: 5rem;
    width: 12rem;
    background-color: white;
    color: black;
    text-align: center;
}

/* 2导航列表 */

nav {
    height: 71rem;
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    padding: 8rem 0;
}
nav p{
    width: 100%;
    color: #222222;
    text-transform: uppercase;
    margin: 0 0 -5rem 0;
}
nav h1 {
    width: 100%;
    color: #54514e;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav .list {
    margin: auto;
    display: flex;
    text-align: left;
}
.list img {
margin-bottom: 1rem;
margin-top: 0;
}
.intro {
    margin-left: 2rem;
}
.intro h2 {
    font-size: 2rem;
    width: 30rem;
    
}
.intro h2:nth-child(2) {
    font-size: 1.2rem;
    color: #54514e;
    margin-top: 1rem;
}
/* 3资料文档 */
/* 左边 */
.profile-container {
    height: 80rem;
    background: url(../image/图层2.png) no-repeat;
}
.profile-container .bg {
    display: flex;
    justify-content: flex-end;
}
.lcontent {
    padding: 18.5rem 0rem 0rem 5rem;
    flex:1 95.5rem;
    text-align: center;
}
.lcontent h1,
.lcontent p {
    padding: 0;
    text-align: left;
    width: 37rem;
}
.bg h1 {
    margin: auto;
}
.lcontent form input {
    width: 18rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.profile-container img {
    flex:1 64.5rem;
}
/* 右边图片 */
.profile-container img {
    margin: 10.7rem 0;
}
/* 4产品介绍 */
.title{
    border-bottom: 1px solid #cfcfcf;
    height: 58rem;
}
.title div{
    width: 60%;
    margin: auto;
}
.title h1 {
    color: #54514e;
    padding: 0;
    text-align: center;
    margin-top: 15rem;
}
.title .list_box {
    width: 100%;
    display: flex;
}
.list_box .list {
    text-align: center;
}
.list_box .list img {
    margin-top: 9.5rem;
}
.list p {
    color: #54514e;
    width: 30rem;
}
/* 详情 */
.detailed_container {
    height: 100.2rem;
    border-bottom: 1px solid #cfcfcf;
}
.detail {
    width: 60%;
    height: 50%;
    margin: auto;
    display: flex;
}
.detail img {
    object-fit:cover;
    width:57.2rem;
    height: 35rem; 
    flex: 3;
}
.detail .text {
    flex: 2;
    padding: 10rem  8rem 0 0;
    
}
.detail:first-child .text {
    padding: 10rem 0 0 8rem ;
}
.detail:first-child img,
.detail:first-child  .text {
    margin-top: 10.9rem;
}
.detail:last-child img,
.detail:last-child  .text {
    margin-top: 4rem;
}
.detail h2 {
    font-size: 2rem;
    color: #54514e;
}
.detail p {
    width: 30rem;
    color: #54514e;
    margin: 3rem 0 0 0;
}

/* 5团队人员 */
.team_container {
    height: 108.5rem;
}
.team_container h1 {
    margin-top: 17rem;
}
.team_container p {
    color: #222222;
    text-align: center;
}
.team_container .list_box {
    display: flex;
    flex-flow:wrap;
}
.team_container .list {
    width: 49%;
}

.active  {
    position: relative;
   
}
.active a .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
}
.active .mask h3 {
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
}
.active .mask h3:nth-child(2){
    margin-top: 2rem;
}
.team_container .active .mask img {
    width: 6rem;
    height: 6rem;
    margin-left: 1rem;
}
.active  a .mask:hover  {
    opacity: 1;           
}


.active .pic:hover {
    background-color: rgb(0, 0, 0,0.5);
    width:100%;
    height: 100%;
}
.team_container .list img{
    object-fit: cover;
    width: 47rem;
    height: 34rem;
    margin: 0;
}
.team_container .list:nth-child(n+3) img {
    margin-top: 3rem;
}
.team_container .list:nth-child(even) img {
    margin-left: 2rem;
}
/* 6联系我们 */
.contact_us_container{
    width: 60%;
    display: flex;
    padding: 7rem 0;
    margin: auto;
}
/* 左边 */
.contact_us_container .l_email {
    width: 50%;
    height: 70rem;
}
.l_email h2 {
    color: #222222;
    text-transform: uppercase;
}
.l_email form {
    padding: 5rem 0 0 5rem;
}
.l_email input {
    margin-top: 2rem; 
    color: #54514e;
}
.l_email input:nth-child(3){
    width: 29rem;
    height: 10rem;
}
.l_email input:last-child {
    width: 29rem;
    height: 5rem;
    background-color: #141414;
    color: #ffffff;
    text-align: center;
}
/* 右边 */
.contact_us_container .r_contact {
    width: 50%;
    height: 70rem;
}
.r_contact h1 {
    color: #141414;
    padding-top: 5rem;
}
.r_contact p {
    width: 85%;
    margin: 0rem;
    color: #54514e;
    text-align: left;
}
.r_contact h1,
.r_contact p,
.r_contact .contact_box {
    padding-left: 11rem; 
}
.contact_box {
    display: flex;
    margin-top: 2rem;
}
.r_contact img {
    padding-top: .5rem;
    padding-bottom: 2.5rem;
}
.contact_box p {
    padding-left: 3rem;
}

/* 尾部 */
footer {
    height: 41rem;
    width: 100%;
    background-color: #141414;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
footer .info{
    width: 15%;
    margin-top: 8rem;
}
.info h2 {
    text-align: left;
    margin-top: 2rem;
    color: #ffffff;
    font-size: 2.2rem;
}
h2 a {
    font-size: 1.7rem;
    text-decoration: none;
    color: #54514e;
}
.info .icon {
    margin-top: 2rem;
}
.icon img {
    margin-right: 2rem;
}
