{
    "presets": ["next/babel"],  //基础配置
    "plugins": [
        [
            "import",
            {
                "libraryName":"antd",
                // "style":"css"
            }
        ],
        ["styled-components", {"ssr": true}]
    ]
}