.container{
   width: 400px;
   height: 200px;
   border: solid 1px red;
   margin: 0 auto;
   position: relative;

}
.container .container_content{
    width: 200px;
    height: 100%;
    background-color: aquamarine;
    border: solid .5px blue

}
.container .container_content:nth-child(2){
    position: absolute;
    top: 0;
    left: 200px;
}